* {
  box-sizing: border-box;
}

html {
  --user-photo-size: 75px;
}

.userList {
  padding: 15px;
}

.userListItem {
  box-shadow: 0 0 5px grey;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.userImageWrapper {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px dotted purple;
  flex-shrink: 0;
}

.userImageWrapper img {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  object-fit: cover;
}

.userName {

}

.userDescription {

}

.trashBtn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 32px;
}

.trashBtn:hover {
  cursor: pointer;
}