* {
  box-sizing: border-box;
}

.parent {
  border: 5px solid blue;
  /* flex */
  display: flex;
  flex-direction: column;
  min-height: 150px;
  /*justify-content: space-between;*/ /*margin: ;*/
  /* align-items: flex-start; */
  align-items: center;
}

.child {
  border: 5px solid red;
  /* flex */
  /* order: ; */
  /* align-self: ; */
}

/* .child1 {
    align-self: center;
} */
/* поставити 4 елемент знизу */
/* .child4 {
    align-self: flex-end;
} */
.child1 {
  /* align-self: flex-end; */
  order: 6;
}

.child2 {
  order: 5;
}

.child3 {
  order: 4;
}

.child4 {
  order: 3;
}

.child5 {
  order: 2;
}

.child6 {
  order: 1;
}
