* {
  box-sizing: border-box;
}

.parent {
  border: 5px solid blue;
  /* flex */
  display: flex;
  min-height: 150px;
  /*justify-content: space-between;*/ /*margin: ;*/
  /* align-items: flex-start; */
  gap: 10px; /* відстань між дочірніми елементами */
  flex-wrap: wrap;

.child {
  border: 5px solid red;
  /* flex */
  /* order: ; */
  /* align-self: ; */
  /* width: 200px; */
  flex-grow: 1; /* дозвіл збільшуватись */
  flex-shrink: 0; /* дозвіл зменшуватись зменшувати */
  flex-basis: 300px; /* початковий розмір */
  /* flex: 0 1 auto; скорочений запис для flex-grow, flex-shrink, flex-basis */
}

/* лінійний розмір вздовж головної вісі */
/* content < width/height < flex-basis*/

.anothe-el {
    width: 200px;
    border: 5px solid red;

}